<script>$(document).ready(function(){
    $('.ui.dropdown').dropdown();
});
</script>

  <link rel="stylesheet" href="../css/navbar.css"/>
  <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>

<div class="ui grid">
       <div class="ui blue inverted fixed menu navbar page grid">
            <a href="" class="active item"><i class="home icon"></i></a>
            <a href="" class="item">News</a>
            <a href="" class="item">RouteLog</a>

            <div class="right menu">


            	<a class="ui dropdown item">{{user.name}}
            		<i class="dropdown icon"></i>
            		<div class="menu">
            			<div class="item">My Profile</div>
            			<div class="item">Log Out</div>
            		</div>
            	</a>
            </div>
        </div>
    </div>
